 <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="army">
      <ion-icon src="./assets/icons/tabs/soldier.svg"></ion-icon>
      <ion-label class="tab-title">Army</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-icon src="./assets/icons/tabs/application.svg"></ion-icon>
      <ion-label class="tab-title">Tools</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-icon src="./assets/icons/tabs/worldwide.svg"></ion-icon>
      <ion-label class="tab-title">Community</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-icon src="./assets/icons/tabs/event.svg"></ion-icon>
      <ion-label class="tab-title">Events</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="user">
      <ion-icon src="./assets/icons/tabs/user.svg"></ion-icon>
      <ion-label class="tab-title">Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
